* {
  font-family: "Lucida Console", "Courier New", monospace;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, red, white, blue);
  display: flex;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(70px, 1fr) 1fr 1fr 1fr;
  grid-gap: 0fr;
}

.game-square {
  text-align: center;
}

.player1 {
  background-image: url(./assets/Captain-America-Shield.svg);
}

.player2 {
  background-image: url(./assets/Iron-Man.svg);
}

.hidden {
  display: none;
}

#result {
  display: flex;
  text-align: center;
  font-size: large;
}
